<section class="TodoSection">
 <div class="TodoSectionTitle">
   <p class="TodoSectionTitle-text"><%= section_title %></p>
   <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %> /<%= todos.count %></p>
 </div>

 <ul>
   <% todos.each do |todo| %>
    <li class="TodoItem">  
      <label class="TodoItem-Container">      
          <input class="TodoItem-checkbox" name="completed" type="checkbox" <%= todo.completed ? "checked" : "" %> />
          <p class='<%= todo.completed ? "TodoItem-linethrough" : "" %>'>
            <%= todo.todo_text %>
          </p>
          <% if show_due_date %>
           <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
           
         <a class="TodoItem-delete" href="javascript:void(0)">
           <img src="trashcan.svg" />
         </a>
      </label>
    </li>
   <% end %>  
 </ul>
</section>    