<body>
<main class="TodoPageMain">

  <article>
   <h1 class="TodoPage-title">My Todo-list</h1>
   <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
      <%= text_field_tag "todo_text", nil, placeholder: "What's next?", class: "AddTodo-text" %>
      <%= date_field_tag "due_date", nil, class: "AddTodo-date" %>
      <%= submit_tag nil, class: "AddTodo-button", value: "Add" %>
   <% end %>

   <%= render partial: "todo-section", locals: {
                section_title: "Overdue",
                todos: Todo.overdue,
                show_due_date: true,
              } %>

   <%= render partial: "todo-section", locals: {
                section_title: "Due Today",
                todos: Todo.due_today,
                show_due_date: false,
              } %>
              
   <%= render partial: "todo-section", locals: {
                section_title: "Due Later",
                todos: Todo.due_later,
                show_due_date: true,
              } %>
   
  </article>
</main>
</body>